*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  color: #fff;
}
header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header span{
  padding: 1rem;
  background-color: #fff;
  color: #000;
  width: 50%;
  border-radius: 5px;
}
header span:nth-child(1){
  text-align: end;
}
header span:nth-child(2){
  width: 40px;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.modalOfPlayers{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
.modalPlayerOne,.modalPlayerTwo{
  margin: 0 10px;
  background-color: #0c0c0c;
  border-radius: 50%;
  padding: 1rem;
}
.modalPlayerOne img, .modalPlayerTwo img{
  border-radius: 50%;
  max-width: 150px;
}
.menuOfChoice{
  background-color: #0c0c0c;
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 2px;
}
.menuOfChoice ul{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.menuOfChoice ul li{
  list-style: none;
}
.menuOfChoice ul li img{
  max-width: 4rem;
  cursor:pointer;
}
.buttonPlayGame{
  text-align: center;
  margin-top: 20px;
}
.buttonPlayGame button{
  padding: 1rem 3rem;
}
.Modal_bg{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  
}
.Modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50%;
  padding: 1rem;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgba(207, 204, 204, 0.4);
  border-radius: 2px;
}
.Modal h1{
  font-size: 3rem;
}
.Modal p{
  margin: 5px 0;
}
.Modal button{
  padding: 1rem 3rem;
}
@media screen and (max-width:500px){
  .menuOfChoice{
    width: 90%;
  }
  .menuOfChoice ul li img{
    max-width: 15vw;
  }
  .modalPlayerOne img, .modalPlayerTwo img{
    max-width: 30vw;
  }
}